<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542174991248-cnrfklda49llpaashlnnmfe6lsaer4sd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542174991248-cnrfklda49llpaashlnnmfe6lsaer4sd</string>
	<key>API_KEY</key>
	<string>AIzaSyB5DP-Xs4uNPxJMLCrime6ueuUmE8AzN38</string>
	<key>GCM_SENDER_ID</key>
	<string>542174991248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.co.digiprimatera.eoffice17</string>
	<key>PROJECT_ID</key>
	<string>dimensy-19190</string>
	<key>STORAGE_BUCKET</key>
	<string>dimensy-19190.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542174991248:ios:8c170bec423473a4639915</string>
</dict>
</plist>